@charset "UTF-8";

@font-face {
  font-family: "nescafe-alegria";
  src:url("fonts/nescafe-alegria.eot");
  src:url("fonts/nescafe-alegria.eot?#iefix") format("embedded-opentype"),
    url("fonts/nescafe-alegria.woff") format("woff"),
    url("fonts/nescafe-alegria.ttf") format("truetype"),
    url("fonts/nescafe-alegria.svg#nescafe-alegria") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "nescafe-alegria" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "nescafe-alegria" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-advertising:before {
  content: "\61";
}
.icon-building:before {
  content: "\62";
}
.icon-checkbox:before {
  content: "\63";
}
.icon-click:before {
  content: "\64";
}
.icon-coffee-love:before {
  content: "\65";
}
.icon-cup:before {
  content: "\66";
}
.icon-cups:before {
  content: "\67";
}
.icon-ease-of-use:before {
  content: "\68";
}
.icon-gas-station:before {
  content: "\69";
}
.icon-grocery-shop:before {
  content: "\6a";
}
.icon-like:before {
  content: "\6b";
}
.icon-office-chair:before {
  content: "\6c";
}
.icon-pdf:before {
  content: "\6d";
}
.icon-people:before {
  content: "\6e";
}
.icon-phone:before {
  content: "\6f";
}
.icon-quality:before {
  content: "\70";
}
.icon-recipes:before {
  content: "\71";
}
.icon-screwdriver:before {
  content: "\72";
}
.icon-search:before {
  content: "\73";
}
.icon-speedometer:before {
  content: "\74";
}
.icon-trash:before {
  content: "\75";
}
