.benefits-row {
  margin-bottom: rem-calc(90);
}

.square {
  padding-top: rem-calc(15);
  padding-bottom: rem-calc(15);
  .benefit-container {
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    &#low-expenses {
      background-color: $nestle-green;
    }

    &#installation {
      background-color: $nestle-blue;
    }
    
    &#courses {
      background-color: $nestle-yellow;
    }
    
    &#recipes {
      background-color: $nestle-orange;
    }
    
    &#quality-control {
      background-color: $nestle-pink;
    }
    
    &#accessories {
      background-color: $nestle-lightblue;
    }

    .icon-container {
        position: absolute;
        width:100%;
        top: 0;
        bottom: 0;
        height: 100%;
      .table {
        display: table;
        width:100%;
        height: 100%;
        text-align: center;
        .content {
          display: table-cell;
          font-weight: bold;
          vertical-align: middle;
          height: 100%;
          width: 100%;
          i { 
            font-size: rem-calc(70); 
          }
        }
      }
    }

    &:hover, &:focus {
      .description-container {
	      transition:all .25s;
	      opacity:1

      }
    }

    .description-container {
	    padding: 20px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background-color: rgba(#000, .75);
      color: #fff;

      .table {
        display: table;
        width:100%;
        height: 100%;
        text-align: center;
        .content {
          width: 100%;
          height: 100%;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
}
