#bottom-nav {
  background-color: $topbar-background;
  border-top-right-radius: $global-radius;
  border-top-left-radius: $global-radius;
  bottom: 0;
  left: calc(50% - 365px);
  padding: 10px 0px;
  position: fixed;
  width: 780px;
  z-index: 2;

  @media #{$small-only} { 
    bottom: auto;  
    position: relative;
    left: 0;
    margin: 0;
    width:auto;
  }
}
