.business-block {
  display:block;
  position:relative;
  margin-top:-90px;
  min-height:800px;
  @media #{$small-only} {
    background-image: none !important;
    margin-top:0;
  }
  @media #{$medium-only} {
    background-image: none !important;
    margin-top:70px;
  }
  .gradient-mask {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.67) 33%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(33%, rgba(246,246,246,0.67)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.67) 33%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.67) 33%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.67) 33%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,0.67) 33%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .info {
    position: relative;
    right: auto;
    left:auto;
    top: 0;
    width: auto;
    @media #{$large-up} { 
      position: absolute;
      left: calc(50% - 512px);
      max-width: 460px;
      top: 125px;
    }
    p {
      font-size: 1.2rem;
    }
    ul {
      list-style-image: url('/images/coffee-icon.png');
      li {
        padding: 0px 0px 15px 15px;
      }
    }
  }
}    

.orbit {
  display: block;
  margin: 70px auto;
  overflow: hidden;
  position:relative;
  ul {
    display: block;
    overflow: hidden;
    width: 100%;
    &:focus {outline: none;}
    li {
      padding: 0 60px;
      img {
        border-radius: 140px; 
        margin-bottom: 20px;
        max-height: 140px;
        max-width: 140px;
        width: 100%;
        @media #{$small-only} { 
          max-height: 115px;
          max-width: 115px;
        }
      }
      span.position {
        color: map-get($foundation-palette, primary);
      }
    }
    .orbit-next {
      background-image:  url(/images/arrow-sec-r.svg);
    }
    .orbit-previous {
      background-image:  url(/images/arrow-sec-l.svg);
    }
    .orbit-previous, .orbit-next {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      &:hover {
        background-color:white;
        opacity: 0.5;
      }
      &:focus {
        outline: none;
      }
    }
  }
}