[type='file'] { 
  //font-size:0;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input {  
  height: 50px;
  line-height: 16px;
  padding: 10px 0px 10px 155px;
  position: relative;
  &::before {
    background: #dbdbdb;
    border: 0px solid #990;
    border-radius: 3px;
    content: 'Избери файл';
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    left: 0;
    outline: none;
    padding: 15px 20px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px #fff;
    top:0;
    //white-space: nowrap;
    width:250px;
    -webkit-user-select: none;
  }
  &:focus{
    outline: none;
  }
}
  .custom-file-input:hover {
    &:before{
      background: scale-color(#dbdbdb, $lightness: -14%);
    }    
  }
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.contact-form-wrapper {
  margin-bottom:rem-calc(80);
}
label {
  span {
    color:#e41b13;
  }
}

.contact-form-wrapper {
  h2 {
    margin-bottom: 50px;
    @media #{$small-only} {
      margin: 25px auto;
    }
  }
}
table.simple {
  tbody {border:0;}
  tr {
    background-color: transparent !important;
  }
}