.configuration {
  padding-bottom:rem-calc(80);
  .steps {
    border-bottom:1px solid #95979c;
    border-top:1px solid #95979c;
    margin-bottom: rem-calc(80);
    padding: rem-calc(30) 0;
    .step {
      text-transform: uppercase;
      span {
        border: 1px solid #95979c;
        border-radius: 40px;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        margin-right: 15px;
        text-align: center;
        width: 40px;
        &.selected {
          background-color: #6dc3cf;
          background-image: url(/images/check.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 20px 20px;
          border: 0px;
          vertical-align: middle;
        }
      }
    }
  }
  .heading {
    font-weight: bold;
    font-size:1.75rem;
    margin: 0px auto 60px;
    @media #{$small-only} { 
      text-align: center;
      font-size:1.5rem;
      margin: 45px auto;
    }
  }
  
  .go-to-next-step {
    color: $white;
    font-weight: bold; 
    //margin-top: 45px;
    position: relative;
    text-transform: uppercase;
    &::before {
      background-image:url(/images/business/arrow.svg);
      content:'';
      position:absolute;
    }
    @media #{$small-only} { 
      display: table;
      //margin: 45px auto;
      float: inherit !important;
    }
  }

  .checkbox {
    line-height: 55px;
    margin-bottom: 15px;
    .first-row {
      @media #{$small-only} { 
        margin-bottom: 60px;
      }
    }
    span {
      border: 1px solid #95979c;
      border-radius: 5px;
      display: inline-block;
      min-height: 36px;
      margin-right: 23px; 
      padding: 0 18px;
      vertical-align: middle;
      min-width: 36px;
      @media #{$small-only} { 
        margin-top: 40px;
      }
      &.checked {
        background-color: $gold;
        background-image: url(/images/check.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        @media #{$small-only} { 
          background-image: none !important;
          color: white;
          margin: 40px 0 0;
        }
      }
    }
    .people-config {
      height: 45px;
      background-image: url(/images/people.svg);
      background-repeat: repeat no-repeat;
      background-size: 30px 30px;
      background-position: 0 center;
    }
  }
  .slider-wrapper {
    padding: 0;
    position: relative;
    #range {
      position: absolute;
      left: calc(15% - 12px);
      bottom: 0px;
    }
  }
}

.choice, .selected-box {
  background-color: #f2ecda;
  display: block;
  height: auto;
  overflow: hidden;
  padding: 30px;
  position: relative;
  width: 100%;
  a#configurations-select {display:none;}
  .box-label {
    border-bottom: 1px solid #dcc28c;
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 15px;
  }
  .column {width: 100%;}
  .item {
    clear: both;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 20px 23px;
    color: #4f1a19;
    display: none;
    line-height: 45px;
    padding-left: rem-calc(30);
    &.business {
      background-image: url(/images/like.svg);
    }
    &.people {
      background-image: url(/images/people.svg);
    }
    &.cups {
      background-image: url(/images/cup.svg);
    }
  }
  #img-machine {display: none;}
  #configurations-select {
    margin: 10px 0 0;
  }
}

.selected-box {
  height:auto;
  .item {
    display: block;
  }
  #img-machine {
    display: inline-block;
  }
  #configurations-select {
    display: inline-block;
  }
}
#cookie-box, #no-cookie-box{display:none;}

input[type=range] {
  margin: 18px 0;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $white;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: $gold;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $white;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $white;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: $gold;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $white;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: $white;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: $gold;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: $white;
}
input[type=range]:focus::-ms-fill-upper {
  background: $white;
}
.tabs-container {
  border-bottom: 1px solid #e6e6e6;
  display:block;
  margin-bottom:20px; 
  overflow:hidden;
  .tab {
    cursor: pointer; 
    display: inline-block;
    padding-bottom: 6px;
    position: relative;
    &.selected {
      border-bottom: 3px solid #e31912;
    }
    &:first-child {
      margin-right: 20px;
    }
  }
}
.specifications {
  margin-bottom: 5rem;
}