  #section0{
    background: rgba(252,252,240,1);
    background: -moz-linear-gradient(top, rgba(252,252,240,1) 0%, rgba(252,252,240,1) 85%, rgba(241,245,215,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,240,1)), color-stop(85%, rgba(252,252,240,1)), color-stop(100%, rgba(241,245,215,1)));
    background: -webkit-linear-gradient(top, rgba(252,252,240,1) 0%, rgba(252,252,240,1) 85%, rgba(241,245,215,1) 100%);
    background: -o-linear-gradient(top, rgba(252,252,240,1) 0%, rgba(252,252,240,1) 85%, rgba(241,245,215,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,252,240,1) 0%, rgba(252,252,240,1) 85%, rgba(241,245,215,1) 100%);
    background: linear-gradient(to bottom, rgba(252,252,240,1) 0%, rgba(252,252,240,1) 85%, rgba(241,245,215,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcf0', endColorstr='#f1f5d7', GradientType=0 );
    padding-top:150px;
  }
  #section1 {
    background: rgba(241,245,215,1);
    background: -moz-linear-gradient(top, rgba(241,245,215,1) 0%, rgba(241,245,215,1) 85%, rgba(225,236,240,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,245,215,1)), color-stop(85%, rgba(241,245,215,1)), color-stop(100%, rgba(225,236,240,1)));
    background: -webkit-linear-gradient(top, rgba(241,245,215,1) 0%, rgba(241,245,215,1) 85%, rgba(225,236,240,1) 100%);
    background: -o-linear-gradient(top, rgba(241,245,215,1) 0%, rgba(241,245,215,1) 85%, rgba(225,236,240,1) 100%);
    background: -ms-linear-gradient(top, rgba(241,245,215,1) 0%, rgba(241,245,215,1) 85%, rgba(225,236,240,1) 100%);
    background: linear-gradient(to bottom, rgba(241,245,215,1) 0%, rgba(241,245,215,1) 85%, rgba(225,236,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f5d7', endColorstr='#e1ecf0', GradientType=0 );
  }
#section2{
  background: #e1ecf0;
  padding-bottom:80px;
}
.inner-wrapper {
  display:block;
  margin: 0 auto;
  max-width: $global-width;
  position: relative;
  overflow: hidden;
  width: 100%;
  .text-wrapper {
    margin-bottom: 80px;
  }
}
.text-column {
  width: 100%;
  .text-wrapper {
    left: 35px;
    position: absolute;
    right: 35px;
    top: 50%;
    width: 40%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @media #{$small-only} { 
    position: relative;
    .text-wrapper {
      width: auto;
    }
  }
}
.beverages-list, .products-list {
  margin-bottom:rem-calc(80);
  h2 {
    margin-bottom: 30px;
  }
  img {
    max-height:100px;
  }
  a {
    color: $black;
    display:block;
    font-size:rem-calc(14);
    padding:10px 0;
    &:hover {
      color: #c68c2a;
    }
  }
}

.beverages {
  padding:rem-calc(90) 0 rem-calc(70);
  margin-top:-90px;
  .beverage {
    padding:rem-calc(30) 0;
    img {
      max-height:350px;
    }
  }
}