@font-face {
  font-family: 'MoonFlower';
  src: url('/fonts/MoonFlower.eot?#iefix') format('embedded-opentype'),  url('/fonts/MoonFlower.woff') format('woff'), url('/fonts/MoonFlower.ttf')  format('truetype'), url('/fonts/MoonFlower.svg#MoonFlower') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ultraThin';
  src: url('/fonts/ThinUltraCn.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
