footer {
  background-image: url(/images/footer.jpg);
  bottom: 0;
  color: #fff;
  font-size:12px;
  line-height: 38px;
  padding: rem-calc(25) 0 rem-calc(48);
  position: absolute;
  width: 100%;
  z-index: 1;
  font-weight: normal;
  @media #{$small-only} {
    font-size: rem-calc(14);
  }
  form {
    margin:20px 0 0px;
    display: table;
    width:460px; 
    @media #{$small-only} {
      width:90%;
    }
  }
  a { 
    color: #fff; 
    //font-weight: bold;
    //text-transform: uppercase;
    @media #{$small-only} {
      display:block;
      float:left;
      width:100%;
    }
    &.pdf { 
      background-color: #000;
      border-radius: 3px;
      color: $white;
      display: block;
      font-weight: normal;
      padding: 3px 8px;
      text-transform: none;
      text-align: right;
      i {
        font-size: 26px;
        vertical-align: middle;
      }
      @media #{$small-only} {
        text-align: left;
      }
    }
  }
  .copyright {
    font-weight: 100;
  }
  .logo {
    display: block;
    height: 60px;
    margin: 30px auto;
  }
  #footer-menu {
    background-color: #fff;
    border-radius: 5px;
    line-height: 64px;
    margin-top: 30px; 
    padding:0 15px;
    @media #{$small-only} {
      li {
        display: inline-block;
        text-align: center;
        width: 100%;
      }
    }
    li {
      &:hover { 
        a {
          color:map-get($foundation-palette, secondary);
        }
      }
      &:last-child { 
        span, a {
          color: #e41b13;
          font-weight: bold;
          &.icons {
            margin:0 5px 0 15px;
          }
        }
      }
      span, a {
        color: #000;
      }
      a {
        &.button {
          color: $white;
          font-weight: bold;
          margin: 0;
        }
      }
    }
  }
  .footer-button {
    background: rgba(0,0,0,1);
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-radius: 0px;
    border: 0px;
    color: $white;
    font-weight: bold;
    height: 40px;
    margin:0; 
    text-transform: uppercase;
  }
  .newsletter-field {
    background: $white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-radius: 0px;
    border: 0px; 
    font-weight: 100;
    font-size: 12px;
    font-style: italic;
    height: 40px;
  }
  .block-wrapper {
    margin: 0 auto;
    max-width: 75rem;
    position: relative;
    a {
      display: inline-block;
      float: none;
      width: auto;
    }
    #scroll-to-top {
      background-image: url(/images/scroll-to-top.svg);
      background-size: 50% 50%;
      border: 2px solid $white;
      border-radius: rem-calc(50);
      bottom:-50px;
      cursor: pointer;
      height: rem-calc(50); 
      position: absolute;
      right: 10px;
      width: rem-calc(50);
      z-index: 1000;
      -webkit-transform:rotate(180deg);
      -moz-transform:rotate(180deg);
      @media #{$small-only} {
        bottom: -50px;
      }
    }
  }
}
