.banner-banner {
  margin: 35px auto;
  img {
    display: table;
    margin: 35px auto;
  }
} 

.business-types {
  cursor: pointer;
  color: #ca9e47;
  li {
    display: inline-block;
    margin-bottom:20px;
    width: calc(20% - 20px);
    margin-right:-1px;
    .icon-circle {
      border: 2px solid #ca9e47;
      border-radius: rem-calc(96);
      font-size: 2.5rem;
      height: rem-calc(96);
      line-height: rem-calc(96);
      margin: 0 auto 20px;
      position: relative;
      width: rem-calc(96);
      i {
        left: 0;
        position: absolute;
        right: 0;
        top: 50px;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    a {padding:0;}
    &.margin-left { margin-left: rem-calc(115);}
    & li:hover, & li:active, & li.selected {
      .icon-circle {
        background-color: #c79b4a;
        color: #fff;
        transition: all 0.5s ease;
      }
    }
    @media #{$small-only} {
      font-size: 10px;
      width: calc(20% - 5px);
      .icon-circle {
        font-size: 1.5rem;
        height: rem-calc(56);
        line-height: rem-calc(56);
        margin: 0 auto 10px;
        width: rem-calc(56);
        i {top:30px;}
      }
    }
  }
}
.home-business-wrapper {
  margin-bottom: 60px;
  h2 {
    font-size: 21px;
    font-weight:bold;
    margin: 0 0 25px; 
  }
  @media #{$small-only} {
    margin-bottom: 30px;
  }
}

.colorful {
  overflow: hidden;
  padding: rem-calc(64) 0;
  @media #{$small-only} {
    text-align: center;
  }
  .wrapper {
    max-width: $global-width;
    margin: 0 auto;
  }
  .icon-holder {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: rem-calc(90);
    flex-direction: column;
    width: 100%;
  }
  &#video {
    padding-top:33.333%;
    position: relative;

    .video-overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0,0,0,0.6);
      z-index: 3;
      height: 100%;
      .play-button {
        background-color: $secondary-color;
        border-radius: 50px;
        display: block;
        height: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        .triangle {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border-style: solid;
          border-width: 10px 0 10px 15px;
          border-color: transparent transparent transparent $white;
          content: '';
          height: 0;
          width: 0;
        }
      }
    }
    video {
      bottom: 0;
      height: auto;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: -100;
    }
  }
  &#installation-and-service {
    background-color: $nestle-green;
  }
  &#easy-management {
    background-color: $nestle-blue;
  }
  &#cheaper-solution {
    background-color: $nestle-lightblue;
  }
  &#diversity {
    background-color: $nestle-orange;
  }
  &#fast {
    background-color: $nestle-pink;
  }
  &#order {
    background-color: map-get($foundation-palette, secondary);
    a  {
      border:2px solid $white;
      font-weight: bold;
      margin: 0;
    }
  }

}

.information-wrapper {
  margin-bottom: rem-calc(80);
}

select#question_type {
  outline:none;
  option {color: #000;}
}
select option[value=""]{
  color:#cacaca !important;
}

.orbit-wrapper {
  display: block;
  //overflow: hidden;
  padding: 0;
  @media #{$large-up} {
    .orbit {
      height: 480px;
      .orbit-container {
        overflow: hidden;
      }
    }
  }
  .orbit {
    //overflow:hidden;
    height: auto;
    position: relative;
    width: 100%;
    margin: 0;
    .orbit-container {
      overflow: inherit;
      li {
        &.orbit-slide {
          padding: 0;
          clear: both;
          overflow: hidden;
          width: 100%;
        }
        .slide {
          background-color: #161b24;
          height: 480px;
          overflow: hidden;
          width: 100%;
        }
        .orbit-caption-wrapper {
          background-color: #f2f1eb;
          height: 480px;
          padding: 60px 80px 110px;
          overflow: hidden;
          width: 100%;
        }
      }
    }
    .orbit-previous, .orbit-next {
      background-position: center top 130px; 
      background-size: 20px 20px;
      border-radius: 0;
      height: 100%;
      top:0;
      transform: translateY(0%);
      width: 30px;
      &:hover, &:active {
        background-color: rgba(255,255,255,.25);
      }
      @media #{$medium-up} {
        background-position: center center; 
        background-size: 30px 30px;
        height: 100%;
        width: 50px;
      }
    }
    .orbit-next {
      background-image:  url(/images/arrow-l.svg);
    }
    .orbit-previous {
      background-image:  url(/images/arrow-r.svg);
    }
    .orbit-bullets {
      bottom: 40px;
      left: calc(50% + 80px);
      position: absolute;
      margin: 0;
      button {
        background-color: #f3f3f3;
        border-radius:30px;
        height: 60px;
        margin-right: 30px;
        overflow: hidden;
        width: 60px;
        &:hover, &.is-active {
          border-top-color: $primary-color;
        }
        .bullet {
          height: 100%;
          width: 100%;
        }
        .title {
          line-height: 1.5;
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
    @media #{$medium-only} {
      .orbit-container {
        li {
          .orbit-caption-wrapper { 
            padding: 20px 40px;
          }
        }
      }
    }
    @media #{$small-only} {
      height: auto;
      margin-bottom: 30px;
      .orbit-container {
        li {
          .slide {
            height: 280px;
          }
          .orbit-caption-wrapper { 
            padding: 15px 40px;
          }
        }
      }
      .orbit-bullets {
        background-color: #f5d4b7;
        position: relative;
        margin: 0;
        width: 100%;
        button {
          border-radius: 0;
          height: 50px;
          margin: 10px 3px 0px 3px;
          overflow: hidden;
          width: 90px;
        }
      }
      .orbit-previous, .orbit-next { 
        padding:1rem;
      }  
    }
  }
}
.show-all-machines {
  padding: 20px 0;
  background-color: $primary-color;
  a {
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    img {
      margin-top: -4px; 
      width: 10px;
    }
  }
}