.deliveries, .plan {
  color: #e11f26;
  p { line-height: 1.2 !important; }
}

.deliveries img {
  max-width: 100%;
}

#row-1 {
  background: url('/images/deliveries/row-1-bgr.png') no-repeat;
  background-position: 40% 99%;
  padding-bottom: 146px;
}

#row-2 {
  background: url('/images/deliveries/row-2-bgr.png') no-repeat;
  background-position: 40% top;
  padding-top: 142px;
}

#row-3 {
  background: url('/images/deliveries/row-3-bgr.png') no-repeat;
  background-position: center top;
}
#plan-row-3, #plan-row-5, #plan-row-8 {
  padding: rem-calc(50) 0;
}
#plan-row-4 {
  background: url('/images/deliveries/row-3-bgr.png') no-repeat;
  background-position: center bottom;
  padding-bottom: 150px
}
#plan-row-6 {
  padding: rem-calc(50) 0; 
}
#plan-row-7 {
  background: url('/images/plan/row-2-bgr.png') no-repeat;
  background-position: center bottom;
  padding: rem-calc(100) 0 rem-calc(175);
}

#plan-row-9 {
  padding: rem-calc(50) 0;
}
#plan-row-10 {
  background: url('/images/plan/row-3-bgr.png') no-repeat;
  background-position: center bottom;
  padding: rem-calc(50) 0 rem-calc(125) 0;
}
#plan-row-13 {
  background: url('/images/plan/row-4-bgr.png') no-repeat;
  background-position: center top;
  padding-top: rem-calc(150);

  img { margin-left: 100px }

}

img#nescafe-delivery {
  width: 305px;
}

img#nescafe-letter {
  width: 215px;
}

#nescafe-24 {
  width: 180px;
}

#bordered-row {
  padding-top: 120px;
  padding-bottom: 120px;
}

.font-83 { font-size: rem-calc(83); }
.font-80 { font-size: rem-calc(80); }
.font-72 { font-size: rem-calc(72); }
.font-67 { font-size: rem-calc(64); }
.font-64 { font-size: rem-calc(64); }
.font-60 { font-size: rem-calc(60); }
.font-59 { font-size: rem-calc(59); }
.font-52 { font-size: rem-calc(52); }
.font-49 { font-size: rem-calc(49); }
.font-46 { font-size: rem-calc(46); }
.font-42 { font-size: rem-calc(42); }
.font-40 { font-size: rem-calc(40); }
.font-39 { font-size: rem-calc(39); }
.font-36 { font-size: rem-calc(36); }
.font-33 { font-size: rem-calc(33); }
.font-31 { font-size: rem-calc(31); }
.font-30 { font-size: rem-calc(30); }
.font-28 { font-size: rem-calc(28); }
.font-26 { font-size: rem-calc(26); }
.font-24 { font-size: rem-calc(24); }
.font-21 { font-size: rem-calc(21); }
.font-20 { font-size: rem-calc(20); }

@media #{$small-only} {

  
  .font-83 { font-size: rem-calc(73); }
  .font-80 { font-size: rem-calc(80); }
  .font-72 { font-size: rem-calc(62); }

  .font-64 { font-size: rem-calc(54); }
  .font-60 { font-size: rem-calc(36); }
  .font-59 { font-size: rem-calc(36); }
  .font-52 { font-size: rem-calc(42); }
  .font-49 { font-size: rem-calc(39); }
  .font-46 { font-size: rem-calc(36); }
  .font-42 { font-size: rem-calc(32); }
  .font-40 { font-size: rem-calc(30); }
  .font-39 { font-size: rem-calc(29); }
  .font-36 { font-size: rem-calc(26); }
  .font-33 { font-size: rem-calc(23); }
  .font-30 { font-size: rem-calc(20); }
  .font-28 { font-size: rem-calc(18); }
  .font-26 { font-size: rem-calc(16); }
  .font-24 { font-size: rem-calc(14); }
  .font-21 { font-size: rem-calc(18); }
  .font-20 { font-size: rem-calc(12); }
  
  #bordered-row {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #row-1, #row-2, #row-3 {
    -o-background-size:200px auto;
    -webkit-background-size:200px auto;
    -moz-background-size:200px auto;
    background-size:200px auto;
  }

  #row-1 {
    padding-bottom: rem-calc(66);
  }

  #row-2 {
    padding-top: 180px;
  }

  .bordered.columns {
    padding: 20px inherit;
    border: 0 solid #e11f26; 
  }

  img#nescafe-delivery-2 { 
    width: 230px;
  }

  .deliveries .row img { 
    margin: 20px 0;
  }

  .bordered.columns.top {
    border-top-width: 1px;
  }
  .bordered.columns.bottom { 
  border-bottom-width: 1px; }

}

@media #{$medium-up} { 
  #nescafe-24 { width: auto; }
  .bordered.columns {
    border-top: 1px solid #e11f26;
    border-bottom: 1px solid #e11f26;
    padding: 34px;

  }

}
.info-wrapper {
  margin-bottom: 30px !important;
}
.question-mark {
  font-size: 157px;
  line-height: 187px;
  position: relative;
}
.exclamation-mark {
  font-size: 115px;
  position: absolute;
  top: -5px;
  right: -23px;
  @media #{$small-only} { 
    font-size: 100px;
    line-height: 110px;
  }
}
.curly-brackets {
  min-height: 250px;
  padding: 0 rem-calc(80) 0 rem-calc(80);
  position: relative;
  &:before, &:after {
    background-position: top;
    background-size: 80px 100%;
    background-repeat: no-repeat;
    content: '';
    height: 100%;
    position:absolute;
    top: 0px;
  }
  &:before {
    background-image:url(/images/plan/left-curly-bracket.png);
    left: 0px;
    width: rem-calc(80);
  }
  &:after {
    background-image:url(/images/plan/right-curly-bracket.png);
    right: 0px;
    width: rem-calc(80);

  }
}
img#users {
  margin-bottom: rem-calc(40);
}
.bordered.row {
  padding: rem-calc(30) 0;
  border-bottom: 1px solid #e11f26; 
  border-top: 1px solid #e11f26; 
  span {
    color: $dark-gray;
    font-weight: normal;
  }
}
.cup-wrapper {
  position: relative;
  img {
    margin-top: 50px;
  }
}
.local-factory {
  padding-left: 175px; 
  position: relative;
  img {
    left: 0px;
    position: absolute;
  }
}


.black-arrow, .black-arrow-2,.black-arrow-3,.black-arrow-4 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: $white;
  margin: rem-calc(30) rem-calc(0);
  overflow: hidden;
}
.black-arrow, .black-arrow-2, .black-arrow-3, .black-arrow-4 {
  background-image:url(/images/plan/black-arrow.png);
  width: 387px;
  height: 245px;
  margin: 0 auto;

  p {
    margin-left: 20px; margin-top: 60px;
  }
}
.black-arrow-2 {
  background-image:url(/images/plan/black-arrow-2.png);

  p {
    margin-left: 77px; margin-top: 64px;
  }

}
.black-arrow-3 {
  background-image:url(/images/plan/black-arrow-3.png);
}
.black-arrow-4 {
  background-image:url(/images/plan/black-arrow-4.png);

  p {
    margin: 81px 17px 0 0;
  }
}

#plan-row-11 {
  padding-top: 20px;
}

@media #{$small-only} {

  #plan-row-4 {
    background-size: 80%;
    padding-bottom: 130px;
  }

  #plan-row-7 {
    background-size: 80%;
  }

  #plan-row-10 {
    padding-bottom: 9rem;
    background-size: 50%;
    background-position: 10% bottom;

    img { width: 100px }
  }

  #plan-row-13 {
    background-size: 100%;
    padding-top: calc(20% + 10px);
    img { width: 150px; margin-left: 70px;}
  }

  #lab, #speedometer { width: 100px }
  .black-arrow, .black-arrow-2, .black-arrow-3, .black-arrow-4 {
    width: 300px;
    height: 190px;


    p {
      margin-left: 20px; margin-top: 40px;
    }
  }

   .black-arrow-2 p {
      margin-left: 67px; margin-top: 50px;
   }

   .black-arrow-4 {
     p {
       margin: 63px 22px 0 0;
     }
   }
}
