.heading {
  font-weight: bold;
  font-size: rem-calc(32);
  @media #{$small-only} {
    font-size: rem-calc(24);
  }
}

.machines-list {
  margin-top: 32px;
  .column {
    display: block;
    padding-bottom: 64px;
    position: relative;
    overflow: hidden; 
    .img-block {
      background-size: contain;
      height: 225px;
      margin: 0 auto;
      width: 100%;
      a  {
        display:block;
        height:100%;
        width:100%;
      }
    }
  }
  .btn {
    bottom: 64px;
    position: absolute;
  }
  a {
    display: inline-block;
    margin: rem-calc(24) 0 0;
    &.machine-name {
      color: $body-font-color;
    }
  }
}

.machine-container, .product-container, .beverage-container {
  padding: rem-calc(32) 0 ;
  .features {
    img {
      margin-right: 25px;
      width:25px;
    }
  }
  .info { 
    margin-top: 60px;
    .image-wrapper {
      background-size: cover;
      height: 300px;
      width: 100%;
      @media #{$small-only} {
        height: 225px;
      }
    }
    .text-wrapper {
      background-color: #e6e6e6;
      font-size: 24px;
      height: 300px;
      position: relative;
      width: 100%;
      @media #{$small-only} {
        font-size: 20px;
        height: 225px;
      }
      span  {
        left: 35px;
        position: absolute;
        right: 35px;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        @media #{$small-only} {
          text-align: center !important;
        }
      }
    }
  }
}

.img-wraper {
  img {
    display: inherit;
    max-width: 80%;
    margin: 0 auto;
    @media #{$small-only} {
      max-width: 50%;
    }
  }
}
.box {
  border: 1px solid $body-font-color;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  vertical-align: middle;
  width: 40px; 
}
.prev, .next {
  background-image: url(/images/black-arrow.svg);
  background-size:50% 50% !important;
}
.prev {
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
}
.close {
  background-image: url(/images/black-x.svg);
  background-size:50% 50% !important;
  position: absolute;
  top: 15px;
  right: 20px;
}
.share {
  line-height: 68px;
  a {
    color:$body-font-color;
  }
  img { 
    width: 20px;
    margin-right: 10px;
  }
}