@charset "UTF-8";

@font-face {
  font-family: "nescafe-alegria";
  src:url("/fonts/nescafe-alegria.eot");
  src:url("/fonts/nescafe-alegria.eot?#iefix") format("embedded-opentype"),
    url("/fonts/nescafe-alegria.woff") format("woff"),
    url("/fonts/nescafe-alegria.ttf") format("truetype"),
    url("/fonts/nescafe-alegria.svg#nescafe-alegria") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "nescafe-alegria" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="na-icons-"]:before,
[class*="na-icons-"]:before {
  font-family: "nescafe-alegria" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.na-icons-advertising:before {
  content: "\61";
}
.na-icons-building:before {
  content: "\62";
}
.na-icons-checkbox:before {
  content: "\63";
}
.na-icons-click:before {
  content: "\64";
}
.na-icons-coffee-love:before {
  content: "\65";
}
.na-icons-cup:before {
  content: "\66";
}
.na-icons-cups:before {
  content: "\67";
}
.na-icons-ease-of-use:before {
  content: "\68";
}
.na-icons-gas-station:before {
  content: "\69";
}
.na-icons-grocery-shop:before {
  content: "\6a";
}
.na-icons-like:before {
  content: "\6b";
}
.na-icons-office-chair:before {
  content: "\6c";
}
.na-icons-pdf:before {
  content: "\6d";
}
.na-icons-people:before {
  content: "\6e";
}
.na-icons-phone:before {
  content: "\6f";
}
.na-icons-quality:before {
  content: "\70";
}
.na-icons-recipes:before {
  content: "\71";
}
.na-icons-screwdriver:before {
  content: "\72";
}
.na-icons-search:before {
  content: "\73";
}
.na-icons-speedometer:before {
  content: "\74";
}
.na-icons-trash:before {
  content: "\75";
}
