.products {
  overflow:hidden;
  padding-bottom: rem-calc(80);
  &#topli-napitki{
    .rectangle {
      &:first-child(){
        .product-container {
          background-color:#edd958;
        }
      }
      &:nth-child(2) {
        .product-container {
          background-color:#56bac7;
        }
      }
      &:nth-child(3) {
        .product-container {
          background-color:#dbe09f;
        }
      }
      &:nth-child(4) {
        .product-container {
          background-color:#abc6d4;
        }
      }
      &:nth-child(5) {
        .product-container {
          background-color:#e84883;
        }
      }
      &:nth-child(6) {
        .product-container {
          background-color:#f0a067;
        }
      }
      &:nth-child(7) {
        .product-container {
          background-color:#edda5c;
        }
      }
      &:nth-child(8) {
        .product-container {
          background-color:#56bac7;
        }
      }
      &:nth-child(9) {
        .product-container {
          background-color:#dbe09f;
        }
      }
      &:nth-child(10) {
        .product-container {
          background-color:#dbe09f;
        }
      }
      &:nth-child(11) {
        .product-container {
          background-color:#abc6d4;
        }
      }
      &:nth-child(12) {
        .product-container {
          background-color:#dbe09f;
        }
      } 
    }
  }
  &#napitki-s-vobrazhenie{
    .rectangle {
      &:first-child(){
        .product-container {
          background-color:#f09f65;
        }
      }
      &:nth-child(2) {
        .product-container {
          background-color:#abc6d4;
        }
      }
      &:nth-child(3) {
        .product-container {
          background-color:#56bac7;
        }
      }
      &:nth-child(4) {
        .product-container {
          background-color:#e84883;
        }
      }
      &:nth-child(5) {
        .product-container {
          background-color:#edda5a;
        }
      }
      &:nth-child(6) {
        .product-container {
          background-color:#dbe3a1;
        }
      }
      &:nth-child(7) {
        .product-container {
          background-color:#edda5c;
        }
      }
      &:nth-child(8) {
        .product-container {
          background-color:#56bac7;
        }
      }
      &:nth-child(9) {
        .product-container {
          background-color:#dbe09f;
        }
      }
      &:nth-child(10) {
        .product-container {
          background-color:#dbe09f;
        }
      }
    }
  }
    &#studeni-napitki{
    .rectangle {
      &:first-child(){
        .product-container {
          background-color:#56bac7;
        }
      }
      &:nth-child(2) {
        .product-container {
          background-color:#abc6d4;
        }
      }
      &:nth-child(3) {
        .product-container {
          background-color:#dbe09f;
        }
      }
      &:nth-child(4) {
        .product-container {
          background-color:#abc6d4;
        }
      }
    }
  }
  .rectangle {
    padding-bottom: 0.9375rem;
    padding-top: 0.9375rem;
    height:290px;
    .product-container {
      height: 100%;
      position:relative;
      padding: rem-calc(30) rem-calc(15);
      a {
        display:block;
        overflow:hidden;
      }
      img {
        max-height: 200px;
        width:auto;
      }
    }
    &:hover, &:focus {
      .description-container {
        transition:all .25s;
        opacity:1
      }
    }
    .description-container {
      padding: 20px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background-color: rgba(#000, .75);
      color: #fff;
    }
  }
}

.product-wrapper {
  margin-bottom:rem-calc(80);
}