.search_results {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.result {
  border-bottom: 1px solid #E2E2E2;
  ul {
    margin-left: 0;
  }
  margin-bottom: 1rem;
}

.search-wrapper {
  color:#fff;
  height: 100%;
  font-size: 1.1em;
  line-height: normal;
  margin-left: rem-calc(0);
  position: relative;
  overflow: visible;
  @media #{$small-only} {
    display: inline-flex;
  }
  .search-trigger {
    border: 0;
    display: block;
    padding: 10px;
  }
  form {
    display: none;
    height: 100%;
    position: absolute;
    right: 40px;  
    width: 280px;
    &:hover {opacity:1;}
    input {
      border: 1px solid #878787;
      color: #fff;
      float: left;
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
      height: rem-calc(40);
      outline: none;
      padding: 10px 0 10px 15px;
      top:0;
      width: 100%;
    }
    input[type="text"] {
      background: #878787;
      &:focus {
        border: 2px solid #878787;
      }
      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #98999d;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
         color:    #98999d;
         opacity:  1;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
         color:    #98999d;
         opacity:  1;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
         color:    #98999d;
      }
    }
  }
  @media #{$small-only} {
    .search-trigger {
      position:absolute;
      right:0;
    }
    form {
      right: calc(50% - 140px);  
    }
  }
}
