a.nav {
  color: #fff;
  text-transform: uppercase;
  font-size: rem-calc(14);
  font-weight: bold;
  &:hover, &.active {
    color: map-get($foundation-palette, secondary);
  }
}

.moonflower {
  font-family: 'MoonFlower';
  color: #c89e48;
  line-height: rem-calc(20);
  font-weight: bolder;
}
.slogan {
  //font-weight: bold;
  font-size: rem-calc(15);
  position: absolute;
  width: 135px;
}
a.call {
  color: $white;
}
.title-bar, .mobile-top-bar {
  position: relative;
  z-index: 2;
  a.logo-mobile {
    background-image: url('/images/nescafe-alegria-logo.svg');
    background-position: center;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    float: left;
    height: rem-calc(60);
    margin-left: rem-calc(5);
    margin-right: rem-calc(10);
    width: rem-calc(60);
  }
  a#menu-trigger {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 25px 25px !important;
    display: block;
    float: left;
    height: rem-calc(64);
    width: rem-calc(40);
  }
  a#menu-trigger  {background-image: url('/images/menu.svg');}
  a#menu-trigger.active {
    background-image: url('/images/close.svg');
    background-size: 25px 25px !important;
  }
  .moonflower {
    color: #fff;
    line-height: rem-calc(66);
  }
}

.top-bar, .mobile-top-bar {
  height: rem-calc(72);
  position:relative;
  z-index: 2;
  .menu > li { display: inline-block; }
  .menu > li > a > .icons { line-height: inherit !important; }
  .menu > li > a { font-size: rem-calc(14); }
  .menu > li > .button { margin: 0 1rem; }
}
.mobile-top-bar {
  height: rem-calc(60);
  position: fixed;
  top: 0;
  width: 100%;
}

#logo-container {
  text-align: center;
  width: rem-calc(100);
  z-index: 100;
  #site-logo {
    position: absolute;
    top: 25px;
    left: 15px;
    width: rem-calc(100);
    img {
      width:100px;
      margin-bottom:15px;
    }
  }

}

#right-menu {
  height: 72px;
  line-height: 72px;
  margin-right: 185px;
}

#phone-number {
  position: absolute;
  top: 0;
  right: 0;
  width: rem-calc(160);
  height: rem-calc(72);
  background-color: #e41b13;
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: rem-calc(72);
}

#mobile-nav {
  background: $titlebar-background;
  display: none;
  height: 100% !important;
  left: 0;
  min-height: 100%;
  //overflow-y: scroll;
  padding: 0em;
  position: fixed;
  top: 60px;
  white-space: normal;
  width: 100%;
  z-index: 5;
  -webkit-overflow-scrolling: touch;
  ul {
    padding-top:rem-calc(64);
    li {
      padding: rem-calc(10);
    }
  }
}
