  @charset 'utf-8';

// Foundation Stuff

@import 'foundation_settings';
@import 'foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
//@include foundation-accordion;
//@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
//@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
//@include foundation-flex-video;
@include foundation-label;
//@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
//@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
//@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

@import 'font-awesome/scss/font-awesome';
@import 'foundation-datepicker/css/foundation-datepicker.scss';

// Font Awesome Stuff

$fa-font-size-base: $global-font-size;
$fa-line-height-base: $global-lineheight;
$fa-font-path: '/fonts/';
@import 'font-awesome/scss/font-awesome';
@import 'fonts';
@import 'top_bar';

h1 { font-size: 1.9rem; }

.admin-login-panel {
  height: 100%; 
  width: 100%;
  .logo {
    margin-bottom: 90px;
    img {
      max-width: 125px;
      width: 100%;
    }
  }
  .help-text {
    border-top: 1px solid #b9bbbd;
    font-size: 16px;
    margin-top:40px;
    padding-top: 40px;
    a {
      color: #b9bbbd;
      &:hover {
        color: scale-color(#fff, $lightness: -14%);
      }
    }
  }
  input[type=email] {
    background-image: url(/images/user.svg);
  }
  input[type=password] {
    background-image: url(/images/security.svg); 
  }
  input:-webkit-autofill,    input:-webkit-autofill:hover,    input:-webkit-autofill:focus input:-webkit-autofill, 
  textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus,
  select:-webkit-autofill,   select:-webkit-autofill:hover,   select:-webkit-autofill:focus {
    border: 1px solid #b9bbbd;
    -webkit-text-fill-color: #7e8082;
    -webkit-box-shadow: 0 0 0px 1000px scale-color(#b9bbbd, $lightness: -14%) inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  input:focus {
    background-position: 0 0;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #b9bbbd inset;
  }
  input, input:-webkit-autofill {
    background-color: #b9bbbd ;
  }
  input[type=email], input[type=password] {
    background-size: 20px 20px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    padding-left: 40px;
    position: relative;
  }
}

input.email, input.password {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #4e4443;
  margin: 0 0 15px;
  font-family: inherit;
  font-size: 16px;
  color: #0a0a0a;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  border-radius: 4px;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#right-menu { margin-right: 0 !important; }

#content-section {
  @media #{$small-only} {
    margin: 1rem 0;
  }
  margin: 7rem 0;
}


.file-upload {
  position: relative;
  overflow: hidden;
}

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

.filter {
  float: left;
  margin-right: 1rem;
  margin-top: 0;
}

#spinner-container {
  display: none;
  position:fixed;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, .8);
  text-align: center;
  color: #fff;
  i {
    font-size: 3em;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @-ms-keyframes spin {
        from {
            -ms-transform: rotate(0deg);
        } to {
            -ms-transform: rotate(360deg);
        }
    }
    @-moz-keyframes spin {
        from {
            -moz-transform: rotate(0deg);
        } to {
            -moz-transform: rotate(360deg);
        }
    }
    @-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
        } to {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes spin {
        from {
            transform: rotate(0deg);
        } to {
            transform: rotate(360deg);
        }
    }
  }
}



