@charset 'utf-8';

// Foundation Stuff

@import 'foundation_settings';
@import 'foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
//@include foundation-accordion;
//@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
//@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
//@include foundation-drilldown-menu;
@include foundation-dropdown;
//@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
//@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
//@include foundation-pagination;
@include foundation-progress-bar;
//@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
//@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;
@import 'motion-ui/dist/motion-ui';

@import 'foundation-datepicker/css/foundation-datepicker.scss';

// Font Awesome Stuff

$fa-font-size-base: $global-font-size;
$fa-line-height-base: $global-lineheight;
$fa-font-path: '/fonts/';
@import 'font-awesome/scss/font-awesome';


// FullPage plugin

@import 'fullpage.js/jquery.fullPage.scss';

// Our stuff
$nestle-lightgreen: #eef0df;
$nestle-green: #dce19f;
$nestle-blue: #55b9c9;
$nestle-lightblue: #acc6d5;
$nestle-orange: #f09e66;
$nestle-pink: #ea4884;
$nestle-yellow: #eedb5a;


@import 'fonts';
@import 'nescafe_alegria_icons';
@import 'top_bar';
@import 'bottom_nav';
@import 'footer';
@import 'home';
@import 'benefits';
@import 'products';
@import 'business';
@import 'machines';
@import 'drinks';
@import 'contacts';
@import 'configuration';
@import 'infographics';
@import 'search';



html { display:none; }
h1 { font-weight: bold; }
h2 { font-weight: bold; }

*{ouline:none;}
.strong {font-weight:bold;}
.show {
  display: block !important;
}
.off-canvas-wrap {
  height: auto !important;
  min-height: 100%;
  overflow: hidden;
  //padding-bottom: rem-calc(175);
  position: relative;
  width: 100%;
  -webkit-backface-visibility: hidden;
    @media #{$small-only} {
    padding-top:rem-calc(64);
  }
}

#content-section {
  overflow:hidden;
  padding-top:rem-calc(48);
  @include breakpoint(medium only) {
    padding-top:rem-calc(64);
  }
  @media #{$small-only} {
    padding-top:rem-calc(0);
  }
}

.wallpaper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {outline: none; }
a.arrow, a.arrow-back, a.black-arrow-back {
  padding-right:rem-calc(15);
  position:relative;
  display: inline-block;
  font-weight: bold;
  &:after {
    background-image:url('/images/arrow.svg');
    content: '';
    height: 10px;
    position:absolute;
    right:0;
    top: 8px;
    width: 10px;
  }
}
a.arrow-back {
  padding-left:rem-calc(15);
  &:after {
    background-image:url('/images/arrow.svg');
    left:0;
    right:auto;
    -webkit-transform:scaleX(-1);
    -moz-transform:scaleX(-1);
    -ms-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
  }
}
a.black-arrow-back {
  padding-left:rem-calc(15);
  color:$black;
  font-weight: normal;
  &:after {
    background-image:url('/images/black-arrow.svg');
    left:0;
    right:auto;
    -webkit-transform:scaleX(-1);
    -moz-transform:scaleX(-1);
    -ms-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
  }
}

a {
  &.facebook, &.twitter, &.google,&.pinterest {
    &:hover {opacity:0.8;}
    background-size: auto 50%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:5px;
    height: 50px;
    display: block;
    width: 100%;
  }
  &.facebook {
    background-image: url('/images/socials/facebook.svg');
    background-color: #3b5b96;
    &:hover{
      background-color: #627BAB
    }
  }
  &.twitter {
    background-image: url('/images/socials/twitter.svg');
    background-color: #00aceb;
    &:hover{
      background-color: #33BCEF
    }
  }
  &.google {
    background-image: url('/images/socials/google.svg');
    background-color: #d73d32;
    &:hover{
      background-color: #DF635B
    }
  }
  &.pinterest {
    background-image: url('/images/socials/pinterest.svg');
    background-color: #BE1E23;
    &:hover{
      background-color: #D01C14
    }
  }
}
div.pinterest {
  background-image: url('/images/socials/pinterest.svg') !important;
  background-color: #BE1E23;
  background-size: auto 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius:5px;
  height: 50px;
  display: block;
  width: 100%;
  &:hover {
    background-color: #D01C14;
  }
  span {display:none;}
  a {
    background-image: none !important;
    display: block !important;
    height: 100% !important;
    width: 100% !important;
  }
}

.roboto {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
}

.lobster {
  font-family: 'Lobster', cursive;
  font-weight: normal;
}
.ultra-thin {
  font-family: 'ultraThin', sans-serif;
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.uppercase { text-transform: uppercase; }
.downcase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }
.block-center {
  display:table;
  margin:0 auto;
}
.fullpage {
  padding-bottom: 254px;
}
.button.primary {
  border: 1px solid rgba(188,148,68,1);
  background: rgba(201,158,73,1);
  background: -moz-linear-gradient(top, rgba(201,158,73,1) 0%, rgba(174,137,63,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(201,158,73,1)), color-stop(100%, rgba(174,137,63,1)));
  background: -webkit-linear-gradient(top, rgba(201,158,73,1) 0%, rgba(174,137,63,1) 100%);
  background: -o-linear-gradient(top, rgba(201,158,73,1) 0%, rgba(174,137,63,1) 100%);
  background: -ms-linear-gradient(top, rgba(201,158,73,1) 0%, rgba(174,137,63,1) 100%);
  background: linear-gradient(to bottom, rgba(201,158,73,1) 0%, rgba(174,137,63,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c99e49', endColorstr='#ae893f', GradientType=0 );
  &:hover {
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    background:#b48d41;
  }

}
.button.secondary {
  font-weight: bold;
  width:100%;
}



table.stack {
  a {word-break: break-all;}
}